* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #00020f;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
body::-webkit-scrollbar-track {
    background: #610099;
}
  
body::-webkit-scrollbar-thumb {
    background: #A100FF;
    border-radius: 0px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #D6FF1A;
    box-shadow: 0 0 5px #D6FF1A, 0 0 10px #D6FF1A;
}
  
header {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px 48px;
    background-color: #00020fB0;
    border-bottom: 1px solid #f2f2ff30;
    backdrop-filter: blur(5px);
    z-index: 16;
}

.logo-wrap {
    display: block;
    margin-right: 12px;
    outline: none;
}

img.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: -12px;
    transition: all 0.6s ease-in;
}

img.logo:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 1px #B886FF)
    drop-shadow(0 0 3px #ff86fb)
    drop-shadow(0 0 5px #B886FF)
    drop-shadow(0 0 2.5px #ff86fb)
    drop-shadow(0 0 15px #610099)
    drop-shadow(0 0 2px #A100FF)
    drop-shadow(0 0 40px #610099);   
}

.right {
    position: absolute;
    right: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

nav.desktop-nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

nav ul li {
    display: block;
    list-style: none;
    margin: 6px 24px 6px 0px;
}

nav ul li:first-child {
    margin-left: 12px;
}

nav ul li a {
    color: #F2F2FF;
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.375rem);
    transition: color 0.6s ease-in;
}

nav ul li a:hover {
    color: #D6FF1A;
    font-weight: 700;
}

.burger-menu {
    display: none;
}

.contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 36px;
    border-left: 1px solid #f2f2ffa4;
    vertical-align: bottom;
}

.contact-icon {
    display: none;
}

.contact-mobile {
    display: none;
}

.toggle-button {
    background-color: transparent;
    padding: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-button i {
    font-size: clamp(1.5rem, 2.5vw + 1rem, 2.25rem);
    color: #D6FF1A;
    transition: all 0.6s ease-in;
}

.toggle-button i:hover {
    color: #F2F2FF;
    filter: drop-shadow(0 0 1px #B886FF)
    drop-shadow(0 0 3px #ff86fb)
    drop-shadow(0 0 5px #B886FF)
    drop-shadow(0 0 2.5px #ff86fb)
    drop-shadow(0 0 15px #610099)
    drop-shadow(0 0 2px #A100FF)
    drop-shadow(0 0 40px #610099);  
}

.header-link {
    vertical-align: bottom;
}

.header-link i {
    display: inline-flex;
    padding: 0px 12px;
    text-decoration: none;
    transition: all 0.6s ease-in;
}

.header-link i:hover {
    color: #F2F2FF;
    filter: drop-shadow(0 0 1px #B886FF)
    drop-shadow(0 0 3px #ff86fb)
    drop-shadow(0 0 5px #B886FF)
    drop-shadow(0 0 2.5px #ff86fb)
    drop-shadow(0 0 15px #610099)
    drop-shadow(0 0 2px #A100FF)
    drop-shadow(0 0 40px #610099);  
}

.header-link a {
    color: #D6FF1A;
    transition: all 0.8s ease-in;
    text-decoration: none;
    vertical-align: bottom;
    word-break: normal;
    overflow-wrap: normal;
    white-space: normal;
}

.underline {
    text-decoration: underline;
    overflow-wrap: break-word;
    word-break: normal;
}

.underline:hover {
    color: #F2F2FF;
}

p.text,
a span.text {
    color: #F2F2FF;
    line-height: 1.4;
    font-size: clamp(1.125rem, 1.5vw + 0.5rem, 1.4rem);
    z-index: 5;    
}

span.text {
    margin-right: 12px;
    display: inline-block;
    vertical-align: bottom;
}

.header-banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/catbanner.webp);
    background-size: cover;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1px #F2F2FF,  0 0 2px #A100FF, 0 0 55px #610099;
    z-index: 11;
}

i.fa-angles-down {
    color: #F2F2FF;
    font-size: clamp(2.5rem, 4vw + 1rem, 4rem);
    position: absolute;
    bottom: 0;
    margin: 36px auto;
    z-index: 12;
    transition: all 0.6s ease-in;
}

i.fa-angles-down:hover {
    filter: drop-shadow(0 0 1px #B886FF)
    drop-shadow(0 0 3px #ff86fb)
    drop-shadow(0 0 5px #B886FF)
    drop-shadow(0 0 2.5px #ff86fb)
    drop-shadow(0 0 15px #610099)
    drop-shadow(0 0 2px #A100FF)
    drop-shadow(0 0 40px #610099);
    transform: scale(1.04);
}

main {
    position: relative;
    top: 0vh;
    margin-top: 0rem;
}

section {
    margin: 0 auto 48px;
}

section.about {
  padding: 0px 24px 12px 24px;
  max-width: 1200px;
  z-index: 5;
}

.about p.text {
    font-size: clamp(1.25rem, 1.6vw + 0.5rem, 1.625rem);
}

section.references {
    display: flex;
    background-color: #00020f;
    padding: 0px 24px 48px 24px;
    flex-direction: column;
    align-items: center;
}

section.references div.articles {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

section.references article {
    width: 30%;
    display: flex;
    flex-direction: column;align-items: center;
    min-width: 250px;
    padding: 24px;
    border-radius: 3px;
    background-color: #00020f;
    transition: transform 0.6s ease-in, box-shadow 0.4s ease-in;   
}

section.references article:hover {
    transform: scale(1.04);
    box-shadow: 0 0 1.5px #B886FF, 0 0 3.5px #ff86fb, 0 0 7px #B886FF, 0 0 10px #ff86fb, 0 0 25px #610099, 0 0 2px #A100FF, 0 0 55px #610099;
}

.references article img {
    width: 70%;
    height: auto;
    border: 4px solid #D6FF1A;
    margin-bottom: 24px;
    margin-top: 12px;
    border-radius: 50%;
    transition: all 0.6s ease-in;
}

.references article img:hover {
    border: 4px solid #F2F2FF;
    box-shadow: 0 0 1.5px #B886FF, 0 0 3.5px #ff86fb, 0 0 7px #B886FF, 0 0  10px #ff86fb, 0 0 25px #610099, 0 0 2px #A100FF, 0 0 55px #610099;
}

section.references article img:hover {
    transform: scale(1.04);
}

.references article h3 {
    color: #F2F2FF;
    font-size: clamp(1.25rem, 1.6vw + 0.5rem, 1.625rem);
}

.references article p {
    text-align: justify;
    text-wrap-style: pretty;
    hyphens: auto;
}

section.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
    font-family: "Faculty Glyphic", sans-serif;
    text-shadow: 0 0 3px #B886FF, 0 0 7px #ff86fb, 0 0 15px #B886FF, 0 0 20px #ff86fb, 0 0 35px #610099, 0 0 2px #A100FF, 0 0 65px #610099;
    color: #F2F2FF;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

article.photos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
}

.photos.a {
   border-bottom: 1px solid #D6FF1A;
}

img.lightbox-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.6s ease-in;
}

img.lightbox-image:hover {
    transform: scale(1.04);
    box-shadow:  0 0 2px #B886FF, 0 0 3.5px #ff86fb, 0 0 7.5px #B886FF, 0 0 10px #ff86fb, 0 0 17.5px #610099, 0 0 1px #A100FF, 0 0 33px #610099;
    border-radius: 3px;
    z-index: 5;
}

/* Lightbox */
#lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}
  
#lightbox-overlay img {
    width: auto;
    max-height: 90%;
}
  
body.noscroll {
    overflow: hidden;
}

.lightbox-controls {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    gap: 3rem;
    z-index: 10000;
}

.lightbox-button {
    background: none;
    border: none;
    color: #D6FF1A;
    font-size: 4rem;
    cursor: pointer;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    background: none;
    border: none;
    color: #D6FF1A;
    cursor: pointer;
    z-index: 10000;
}

.arrow-left { 
    left: 3rem; 
}

.arrow-right {
    right: 3rem; 
}

.lightbox-caption {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #F2F2FF;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    max-width: 80%;
    text-align: center;
}

section.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 0px 24px 96px 24px;
    margin-bottom: 0;
}

.contacts h3 {
    display: block;
    width: 100%;
    max-width: 1200px;
    color: #F2F2FF;
    text-align: left;
    font-size: clamp(1.375rem, 1.8vw + 0.5rem, 1.625rem);
}

section.contacts ul {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 48px;
    color: #F2F2FF;
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1.125rem);
    font-weight: 700;
    list-style-position:inside;
}

section.contacts ul li {
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1.125rem);
    text-align: left;
    color: #F2F2FF;
    margin: 6px 0;
}

section.contacts ul li a {
    color: #F2F2FF;
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1.125rem);
    transition: color 0.6s ease-in;
}

section.contacts ul li a:hover {
    color: #D6FF1A;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    max-width: 1200px;
    scroll-snap-align: start;      /* nebo center, end */
    scroll-snap-stop: always; 
    z-index: 5;
}

form label {
    display: block;
    color: #D6FF1A;
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1.125rem);
    font-weight: 700;
    margin-bottom: 6px;
}

form input[type=email], 
form input[type=text],
form input[type="tel"], 
form textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px;
    background-color: #F2F2FFE9;
    color: #610099;
    font-size: 20px;
}

form input[type=email]:invalid {
    color: rgb(192, 11, 11)
}

form .textarea,
form button {
    grid-column: span 2;
}
  
textarea {
    width: 100%;
    padding: 12px;
}

form input:focus,
form textarea:focus {
    background-color: #F2F2FF;
    outline: none;
    border: none;
    box-shadow: 0 0 1.5px #B886FF, 0 0 3.5px #ff86fb, 0 0 7px #B886FF, 0 0 10px #ff86fb, 0 0 25px #610099, 0 0 2px #A100FF, 0 0 55px #610099;    
}
  
form button {
    color: #F2F2FF;
    background-color: #A100FF;
    border: none;
    padding: 12px;
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1.125rem);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.6s ease-in;
}

form button:hover {
    background-color: #F2F2FF;
    color: #610099;
    box-shadow: 0 0 1.5px #B886FF, 0 0 3.5px #ff86fb, 0 0 7px #B886FF, 0 0 10px #ff86fb, 0 0 25px #610099, 0 0 2px #A100FF, 0 0 55px #610099; 
}

form textarea {
    width: 100%;
    height: 150px
}

.form-result {
    max-width: 1000px;
    color: var(--text);
    padding: 0.545rem !important;
    margin: 1.09rem auto 0;
    font-size: clamp(0.85rem, 1rem + 0.1vw, 1.1rem);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    font-weight: 700;
    line-height: 1.4;
    border-radius: 0.273rem;
    letter-spacing: 1px;
    filter: drop-shadow(2px 3px 4px var(--background));
}
  
.success {
    display: none;
    border: 1px solid #56a73bC0 !important;
    background: rgba(86, 167, 59, 0.35) !important;
}
  
.error {
    display: none;
    border: 1px solid #bf372aC0 !important;
    background: rgba(191, 55, 42, 0.35) !important;
}

footer {
    padding: 12px 24px;
    display: flex;
    flex-wrap: wrap;
    background-color: #00020f;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 3px solid #D6FF1A;
    z-index: 5;
    position: relative;
}

footer a {
    display: inline-flex;
    align-items: flex-end;
    color: #F2F2FF;
    text-decoration: none;
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1.125rem);
    vertical-align: baseline;
    margin-right: 24px;
    transition: all 0.8s ease-in;
}

footer a:hover {
    color: #D6FF1A;
    font-weight: 600;
}

img.social-icon {
    max-width: 35px;
    margin: 12px 12px 0px 0;
    border-radius: 7px;
    transition: all 0.6s ease-in;
}

img.social-icon:hover {
    filter: drop-shadow(0 0 1px #B886FF)
    drop-shadow(0 0 3px #ff86fb)
    drop-shadow(0 0 5px #B886FF)
    drop-shadow(0 0 2.5px #ff86fb)
    drop-shadow(0 0 15px #610099)
    drop-shadow(0 0 2px #A100FF)
    drop-shadow(0 0 40px #610099);    
} 

footer p {
    color: #F2F2FF;
    text-align: right;
    font-size: clamp(0.95rem, 1vw + 0.5rem, 1.125rem);
    vertical-align: bottom;
    margin-top: 24px;
}

/* Cursor */
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 7px solid #F2F2FF;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    transition: transform 0.1s ease-out;
    filter: drop-shadow(0 0 1px #B886FF)
            drop-shadow(0 0 3px #ff86fb)
            drop-shadow(0 0 5px #B886FF)
            drop-shadow(0 0 2.5px #ff86fb)
            drop-shadow(0 0 15px #610099)
            drop-shadow(0 0 2px #A100FF)
            drop-shadow(0 0 40px #610099);
}

@media  screen and (max-width: 1400px) {

    .header-banner {
        background-position-x: -150px;
    }

    .contact-us {
        border: none;
    }
    
    .contact-desktop {
        display: none;

    }    

    .contact-mobile {
        display: block;
    }
    
    .contact-mobile button i:hover {
        color: #F2F2FF;
        transform: scale(1.05);
    }

    #contact-dropdown,
    .mobile-nav {
        position: fixed;
        right: 0px;
        top: calc(7rem - 9px);
        display: none;
        font-size: 28px;
        flex-direction: column;
        align-items: flex-start;
        background-color: #45464ce9;
        padding: 24px;
        z-index: -2;
    }

    .mobile-nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav.mobile-nav ul li {
        margin-left: 0;
    }

    .mobile-nav ul li a {
        text-decoration: none;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        font-size: 28px;
    }

    #contact-dropdown .header-link,
    .header-link span.text {
        margin-top: 24px;
        margin-bottom: 0px;
        font-size: 28px;
        vertical-align: bottom;
    }
}
 
@media  screen and (max-width: 950px) {

    .header-banner {
        background-position-x: -200px;
    }

    article.photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media  screen and (max-width: 768px) {

    nav.desktop-nav {
        display: none;
        justify-content: space-between;
    }

    .header-banner {
        background-position-x: -300px;
    }
    
    .burger-menu {
        display: block;
    }

    #burger-toggle {
        display: block;
    }

    .mobile-nav {
        display: none;
    }
    
    .desktop-nav {
        display: none;
    }
    
    h2 {
        font-size: 3rem;
    }

    article.photos {
        grid-template-columns: 1fr 1fr;
    }
}

@media  screen and (max-width: 468px) {

    .header-banner {
        background-position-x: -350px;
    }

    #contact-dropdown .header-link, 
    .header-link span.text {
        font-size: 26px;
    }

    h2 {
        font-size: 2.5rem;
    }

    section.references article {
        width: 100%;
    }

    .arrow-left, .arrow-right {
        font-size: 3.5rem;
        color: #f5f5ff;
    }

    .lightbox-controls {
        right: 1rem;
        gap: 1rem;
    }

    .lightbox-button {
        font-size: 2.5rem;
        color: #f5f5ff;
    }

    .arrow-left { left: 1rem; }
    .arrow-right { right: 1rem; }

    article.photos {
        grid-template-columns: 1fr;
    }    
}

@media  screen and (max-width: 368px) {
    header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header-banner {
        background-position-x: -400px;
    }

    img.logo {
        max-width: 120px;
    }

    #contact-dropdown .header-link, 
    .header-link span.text {
        font-size: 24px;
    }

    #contact-dropdown, .mobile-nav {
        position: fixed;
        right: 0px;
        top: calc(6rem - 9px);
        font-size: 24px;
    }

    .header-link span.text {
        margin-top: 12px;
    }
}

/***Keyframes***/
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.9);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


